@model IEnumerable<Common.ProductOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table>
    <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th> Quantity </th>
         <th>Date of Purchase</th>
         <th>Price</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(String.Format("~/{0}", item.Product.Image))"  width="100px" height="100px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.DateOfPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            
            @Html.ActionLink("Delete", "Delete", new { item.ProductID })
        </td>
    </tr>
}

</table>
@{var totalPrice = ViewData["totalPrice"];}
<p>Total price is : @totalPrice</p>

<br />

 @using (Html.BeginForm("Checkout", "Basket", FormMethod.Post))
 {
     <p>
        <input type="submit" value="Proceed to checkout" />
     </p>
 }
