@*@model IEnumerable<Common.ProductOrder>*@
@model  Electros.Models.ProductModel

@{
    ViewBag.Title = "UserHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User History</h2>
<br />
<p style="color:Red">@TempData["CatchError"]</p>
<p style="color:Red">@TempData["NoFault"]</p>
<p style="color:Red">@TempData["NullMsg"]</p>
<p style="color:Red">@TempData["DatesError"]</p>


<br />
@using (Html.BeginForm("Filter","Basket", FormMethod.Get))
{
    
    @Html.Label("Date From : ")
    @Html.TextBox("dateFrom")
    @Html.Label("Date To : ")
    @Html.TextBox("dateTo")
    <input type="submit" value="Filter" />
}
<br />
<table>
    <tr>
        <th></th>
        <th>Product Name</th>
        <th> Quantity </th>
         <th>Date of Purchase</th>
         <th>Price</th>
        <th></th>
    </tr>

@foreach (var item in Model.productOrderList) {
    <tr>
       <td>
            <img src="@Url.Content(String.Format("~/{0}", item.Product.Image))"  width="100px" height="100px"/>
        </td>
          <td>
           @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.StockAmount)
        </td>
        <td>
            @{var date = Convert.ToDateTime(item.Order.DateOfPurchase);}
            @{var d2 = date.ToShortDateString();}
           @* @Html.DisplayFor(modelItem => item.Order.DateOfPurchase)*@
            @Html.DisplayFor(modelItem => d2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        
        <td>
            
            @Html.ActionLink("Details", "Details", new {pid= item.ProductID ,oid= item.OrderID}) |
            @Html.ActionLink("Post Comment & Rating", "PostComment", new {proID = item.ProductID }) |
            @Html.ActionLink("Show Report","ShowReport", new {productID = item.ProductID, orderID = item.Order.ID, dateF = Model.from, dateT = Model.to})
        </td>
        
    </tr>
}


</table>



