@model Electros.Models.ProductModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p style="color:Red">@TempData["OutOfStock"]</p>
<p style="color:Red">@TempData["ErrorMsg"]</p>
<p style="color:Red">@TempData["Error"]</p>
<fieldset>
    <legend>ProductModel</legend>

    @* <div class="display-label">Image</div>
    <div class="display-field">
       <img src="@Url.Content(String.Format("~/{0}", model.Image))"  width="100px" height="100px"/>
     </div>*@

     
    <div class="display-field">
        @Html.DisplayFor(model => model.myProduct.ID)
      @*  @{var data = Model.myProduct.ID;}*@
    </div>
    
    <div class="display-label"><b>Name</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.myProduct.Name)
    </div>
    <br />
    <div class="display-label"><b>Features</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.myProduct.Features)
    </div>
    <br />
    <div class="display-label"><b>StockAmount</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.myProduct.StockAmount)
    </div>
    <br />
    <div class="display-label"><b>Price</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.myProduct.Price)
    </div>
    <br />
    <div class="display-label"><b>Category</b></div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.myCategory.Name)*@
        @Html.DisplayFor(model => model.myProduct.Category.Name)
    </div>
    <br />
    @*<div class="display-label">Image</div>*@
    <div class="display-field">
      <img src="@Url.Content(String.Format("~/{0}", Model.myProduct.Image))" width="100px" height="100px"/>
     <br />
    </div>
    <div class="display-label"><b>Comments</b></div>
    <div class="display-field">
    
   @foreach (var i in Model.myComment)
   {
       @Html.DisplayFor(model => i.Comment1) 
       <br />
   }
    
    </div>
    <div class="display-label"><b>Average Rating</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.averageRating)
    </div>
    <br />
 @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))
 {
                    @Html.ValidationSummary(true)
                    <div class="display-label"><b>Quantity</b></div>
                    <div class="field">
                       @* @Html.EditorFor(model => model.Qty)*@
                        @Html.TextBoxFor(model => model.Qty)
                        @Html.ValidationMessageFor(model => model.Qty)
@*
                     @ViewData["QtyAdded"]
                     @ViewData["OutOfStock"]
                        *@
                    </div>
                   <input type="submit"name="submitButton" value="Add to Cart" />
                    
                     <div>
                @Html.HiddenFor(model => model.myProduct.ID)
                   </div>
     
 }

   @* change later for textbox
    <div class="display-label">Qty</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>*@
</fieldset>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

