@model IEnumerable<Common.Product>


@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductList</h2>
<br />
<p style="color:Red">@TempData["OutOfStock"]</p>
<p style="color:Red">@TempData["Error"]</p>
<p style="color:Red">@TempData["Null"]</p>
<p style="color:Red">@TempData["CatchError"]</p>
<br />
@using (Html.BeginForm("Filter","Product", FormMethod.Get))
{
    @Html.Label("Category : ")
    @Html.TextBox("category")
    @Html.Label("Name : ")
    @Html.TextBox("name")
    @Html.Label("Lowest price : ")
    @Html.TextBox("lowPrice")
    @Html.Label("Highest price: ")
    @Html.TextBox("highPrice")
    <input type="submit" value="Search" />
}
<br />
@using (Html.BeginForm("SortByHighPrice", "Product", FormMethod.Get))
{ 
    <input type="submit" value="Sort by Highest Price" />
}
@using (Html.BeginForm("SortByLowPrice", "Product", FormMethod.Get))
{ 
    <input type="submit" value="Sort by Lowest Price" />
}
@using (Html.BeginForm("SortByDate", "Product", FormMethod.Get))
{ 
    <input type="submit" value="Sort by Date" />
}
<br />
<table>
    <tr>
        <th>
           @*Image*@
        </th>
        <th>
            Category
        </th>
        <th>
            Name
        </th>
        <th>
            Stock
        </th>
        <th>
            Price
        </th>
        <th> Date Listed</th>
        
    </tr>

@foreach (var item in Model)
{
    <div class="display-field">
        @Html.HiddenFor(model => item.ID)
    </div>
    <tr>
        <td>
            <img src="@Url.Content(String.Format("~/{0}", item.Image))"  width="100px" height="100px"/>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
        @{var date = Convert.ToDateTime(item.DateListed);}
        @{var d2 = date.ToShortDateString();}
            @*@Html.DisplayFor(modelItem => item.DateListed)*@
            @Html.DisplayFor(modelItem => d2)
        </td>
                
        <td>
            
            @Html.ActionLink("Details", "Details", new { id = item.ID }) 
           
 </td>
    </tr>
    
}

</table>
