@model IEnumerable<Common.ProductOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Returns / Faults</h2>
<br />
<p style="color:Red">@TempData["CatchError"]</p>
<br />
<table>
    <tr>
       <th>Image</th>
        <th>Product Name</th>
        <th> Quantity </th>
         <th>Date of Purchase</th>
         <th>Price</th>
        <th>Expiry Date</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <td>
            <img src="@Url.Content(String.Format("~/{0}", item.Product.Image))"  width="100px" height="100px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
        @{var date = Convert.ToDateTime(item.Order.DateOfPurchase);}
        @{var d2 = date.ToShortDateString();}
            @*@Html.DisplayFor(modelItem => item.Order.DateOfPurchase)*@
            @Html.DisplayFor(modelItem => d2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
        @{var date2 = Convert.ToDateTime(item.Order.WarrantyExpiryDate);}
        @{var d21 = date2.ToShortDateString();}
       @* @Html.DisplayFor(modelItem => item.Order.WarrantyExpiryDate)*@
        @Html.DisplayFor(modelItem => d21)
        </td>
        <td>
           @Html.ActionLink("Generate Ticket", "GenerateTicket", new { pid = item.ProductID})
        </td>
    </tr>
}

</table>
